main.flex {
    gap: 2.64rem;
    align-items: start;
}

/* Left section ==> Buttons */
main section.left-section.flex {
    flex-direction: column;
    gap: 10px;
}
main section.left-section.flex button {
    background-color: rgba(36, 37, 46, 1);
    width: 11rem;
    padding: 0.75rem 0;
    text-align: center;
    font-size: 1.05rem;
    text-transform: capitalize;
    opacity: 0.5;
    border-radius: 5px;
    transition: 0.3s;
}
main section.left-section.flex button:hover {
    opacity: 1;
}
main section.left-section.flex button.active {
    opacity: 1;
    font-weight: bold;
    letter-spacing: 0.6px;
    padding: 0.8rem 0;
    border: 1px solid var(--blue);
}
.light main section.left-section.flex button.active {
    border: 1px solid #0000;
}

/* Right section ==> card */
main section.right-section.flex {
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 2rem;
}
.card {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.16), 1px 1px 1px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(93, 188, 252, 0.3);
    border-radius: 5px;
    transition: 0.3s;
    background-image: linear-gradient(
        rgba(255, 255, 25, 0.05),
        rgba(255, 255, 25, 0.05)
    );
}
.light .card, .light .card:hover {
    border: none;
}
.card:hover {
    border: 1px solid var(--blue);
    /* background-color: rgba(246, 246, 246); */
    rotate: 1deg;
    scale: 1.01;
    cursor: pointer;

}
.card img {
    width: 266px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.card .box {
    padding: 1rem 0.4rem;
}
.card .box .title {
    color: var(--title);
    text-transform: capitalize;
}
.card .box .subtitle {
    color: var(--subtitle);
    font-size: 0.8rem;
    margin-top: 0.7rem;
    margin-bottom: 1.1rem;
}
.card .box .icons {
    justify-content: space-between;
    margin-top: 2rem;
}
.card .fa-solid,
.card .fa-brands {
    font-size: 1.2rem;
    color: var(--subtitle);
}
.card .flex a:hover .fa-solid,
.card .flex a:hover .fa-brands {
    color: var(--icon-hover);
    cursor: pointer;
}
.card a.link {
    font-size: 1.2rem;
    color: var(--blue);
    margin-right: 12px;
    gap: 0.5rem;
}
.subtitle p {
    color: red;
}
.more-button {
    color: var(--blue);
}
@media (max-width: 600px) {
    main.flex {
        flex-direction: column;
        gap: 2.64rem;
        align-items: center;
    }
    main section.left-section.flex {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
    main section.left-section.flex button {
        width: 7rem;
        padding: 0.8rem 0;
        font-size: 0.9rem;
    }
}

/* Popup */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.popup-content {
    background-color:var(--secondary);
    backdrop-filter: blur(4px);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    position: relative;
    animation: mymove 0.7s 1;
    max-height: 80%;
    overflow: auto;
}
.popup-content h2 {
    color: var(--blue);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.popup-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: var(--subtitle);
}
.popup-content p strong {
    color: var(--blue);
    font-size: 1.2rem;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .close-btn i {
    font-size: 24px;
    color: black;
    transition: color 0.3s ease;
  }
  
  .close-btn .close-line {
    width: 20px;
    height: 2px;
    background-color: black;
    margin-top: 4px;
    transition: background-color 0.3s ease;
  }
  
  .close-btn:hover i {
    color: white;
  }
  
  .close-btn:hover .close-line {
    background-color: white;
  }

/* Animation */
@keyframes mymove {
    0% { scale: 0; }
    50% { scale: 1.2; }
    100% { scale: 1; }
}