.block {
    flex-basis: 60%;
}

.sub-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    padding-bottom: 10px;
    color: var(--title);
}

.tab-links {
    margin-right: 12rem;
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    transition: color 0.3s ease;
}

.tab-links:hover {
    color: var(--blue);
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--blue);
    position: absolute;
    left: 0;
    bottom: -1px;
    margin-left: 0.6rem;
    transition: width 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul {
    padding-left: 20px;
    color: var(--subtitle);
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 1.1rem;
    line-height: 1.6;
}

.tab-contents ul li span {
    color: var(--blue);
    font-size: 16px;
    font-weight: bold;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.skill-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /
  }
  
  .skill-item:last-child {
    margin-bottom: 0; 
  }
  .skill-item i {
    font-size: 36px;
    color: var(--blue);
    margin-right: 15px;
  }
  .skill-item p {
    margin: 0;
    font-size: 1.1rem;
    color: var(--subtitle);
  }
  .skill-info {
    margin-left: 10px; 
  }
  
  .skill-info p {
    margin: 0;
    font-size: 18px; 
  }
  
  .progress {
    width: 200px; 
    height: 20px; 
    background-color: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .progress-bar {
    height: 100%;
    line-height: 20px;
    color: #000;
    text-align: center;
    background-color: #007bff;
    border-radius: 10px;
    animation: progress-animation-once 2s ease; 
  }
  
  @keyframes progress-animation-once {
    0% { width: 0; }
    100% { width: 100%; }
  }
 
  .stop-animation {
    animation: none !important; 
  }
  @media(max-width: 1250px) {
    .about {
        flex-basis: 100%;
    }

    .tab-titles {
        flex-direction: column;
        align-items: flex-start;
    }

    .tab-links {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .tab-links.active-link::after {
        width: 20%;
    }
    .tab-contents {
        max-width: 800px;
    }
    .progress {
        width: 150px; 
        margin-left: 20px;
    }
}

@media(max-width: 700px) { 
    .sub-title {
        font-size: 36px;
        text-align: center;
    }

    .tab-titles {
        flex-direction: column;
        align-items: flex-start;
    }

    .tab-links {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .tab-links.active-link::after {
        width: 15%;
    }
    .tab-contents {
        max-width: 600px;
    }
    .skill-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .progress {
        margin-left: 0;
    }
}