
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    padding-bottom: 10px;
}

.tab-links {
    margin-right: 12rem;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
    transition: color 0.3s ease;
}

.tab-links:hover {
    color: #ff004f;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    margin-left: 0.6rem;
    transition: width 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul {
    padding-left: 20px;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.6;
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 16px;
    font-weight: bold;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.skill-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Espacement entre les compétences */
  }
  
  .skill-item:last-child {
    margin-bottom: 0; /* Supprimer l'espacement du dernier élément */
  }
  .skill-item i {
    font-size: 36px;
    color: #ff004f;
    margin-right: 15px;
  }
  .skill-item p {
    margin: 0;
    font-size: 18px;
    color: #fff;
  }
  .skill-info {
    margin-left: 10px; /* Espacement entre l'icône et les informations de compétence */
  }
  
  .skill-info p {
    margin: 0;
    font-size: 18px; /* Taille du texte de compétence */
  }
  
  .progress {
    width: 200px; /* Largeur initiale de la barre de progression */
    height: 20px; /* Hauteur de la barre de progression */
    background-color: #f5f5f5;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .progress-bar {
    height: 100%;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    border-radius: 10px;
    animation: progress-animation 2s ease; /* Animation de la barre de progression */
  }
  
  @keyframes progress-animation-once {
    0% { width: 0; }
    100% { width: 100%; }
  }
 
  .stop-animation {
    animation: none !important; /* Arrête l'animation lorsque cette classe est présente */
  }
 