section.hero{
    margin-top: 3rem;
}
/* left-section */
section.hero .left-section{
    flex-grow: 1;
}

span.icon-check .fa-solid {
    color: var(--blue);
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
section.hero .photo{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid rgba(244, 165, 96, 0.249);
    padding: 3px;
    box-shadow: 2px 2px 40px rgb(203, 200, 200, 0.301) inset;
    margin-right: 0.6rem;
    object-fit: cover;
}
section.hero h1.title {
    font-size: 2rem;
    line-height: 3rem;
    margin: 24px 0 ;
    color: var(--title);
}
section.hero p.subtitle {
    color: var(--subtitle);
    font-size: 1.1rem;
    line-height: 1.65rem;
    margin-bottom: 32px;
}
.cv-link {
    text-decoration: none;
    transition: color 0.3s ease; 
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
    padding-bottom: 2px;
 
  }
  
  .cv-link:hover {
    color: #fff; 
  }
  
  .cv-link:active {
    color: #0056b3; 
  }

/* right-section :animation */

section.hero .animation {
    width: 100%;
    translate: 75px 35px;
}

@media(max-width: 1250px) {
section.hero .animation {
    display: none;
 }
}