section.hero{
    margin-top: 3rem;
}
/* left-section */
section.hero .left-section{
    flex-grow: 1;
}
span.icon-check .fa-solid {
    color: var(--blue);
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
section.hero .photo{
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 1px solid var(--blue);
    padding: 3px;
    box-shadow: 2px 2px 40px rgb(203, 200, 200, 0.301) inset;
    margin-right: 0.6rem;
}
section.hero p.title {
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 24px 0 ;
    color: var(--title);
}
section.hero .all-icons {
    font-size: 1.3rem;
    gap: 1.5rem;
    color: var(--subtitle);
}
section.hero .all-icons > div:hover .fa-brands,
section.hero .all-icons > div:hover .fa-solid {
    font-size: 1.4rem;
    transition: 0.3s;
    cursor: pointer;
    color: var(--icon-hover);
   
}
/* right-section :animation */

section.hero .animation {
    width: 100%;
    translate: 100px 55px;
}

@media(max-width: 1250px) {
section.hero .animation {
    display: none;
 }
}